@media screen and (max-width: 1919px)
  main section .sales-section .sales-container .sales-img img
    object-position: left
  main section .sales-section .sales-container .sales-text .content.landlords-requirements .item-c:nth-of-type(1)
    grid-column: span 2
  main section .sales-section .sales-container .sales-text .content.landlords-requirements .item-c:nth-of-type(3)
    grid-column: span 3
  header
    .main-header
      .container
        .more-desktop
          display: flex !important

        .more-info-header
          .item-m
            display: none

      .container.desctop
        .burget-menu
          display: flex

        nav
          display: none !important

      .container.mobile
        display: grid
        align-items: center
        grid-template-columns: 1fr 1fr 132px 1fr 1fr

        .header-icon
          img
            width: 20px
            height: 20px

        .item-m.item-m-language
          position: relative

          > .select-language
            position: absolute
            visibility: hidden

@media screen and (max-width: 1680px)
  :root
    --fz14: 14px
    --fz16: 16px
    --fz18: 18px
    --fz20: 20px
    --fz24: 24px
    --fz28: 28px
    --fz36: 36px
    --fz48: 48px
    --fz64: 64px
    --fz96: 96px
    --fz144: 144px
    --ln120: 120%
    --container: 1800px
  main section .our-collection-page-section .our-collection-page-container .item-our-collection
    grid-template-columns: repeat(3, 1fr)
  main section .sales-section .sales-container .sales-text .content.landlords-requirements
    grid-template-columns: repeat(2, 1fr)
  main section .sales-section .sales-container .sales-text .content.landlords-requirements .item-c:nth-of-type(1),
  main section .sales-section .sales-container .sales-text .content.landlords-requirements .item-c:nth-of-type(4)
    grid-column: span 1
  main section .sales-section .sales-container .sales-text .content.landlords-requirements .item-c:nth-of-type(3)
    grid-column: span 2
  .new-calendar-section .calendar-container.open
    transform: translateY(-310px)
  .new-calendar-section .calendar-container .big-calendar .calendar .sales .item-s.new-clothe .body
    font-size: 18px
  .new-calendar-section .calendar-container .big-calendar .calendar .sales
    gap: 10px

    .item-s .body
      font-size: 32px
  .new-calendar-section .calendar-container .big-calendar .calendar
    justify-content: space-between
  .new-calendar-section .calendar-container .main-calendar
    max-width: 650px
  main section .landing-section .landing-container .landing-text
    font-size: 96px
  .new-calendar-section .calendar-container .main-calendar .footer
    grid-template-columns: 1fr
  header
    .main-header
      .container
        .more-info-header
          .item-m
            display: none

      .container.desctop
        .burget-menu
          display: flex

        nav
          display: none

      .container.mobile
        display: grid
        align-items: center
        grid-template-columns: 1fr 1fr 132px 1fr 1fr

        .header-icon
          img
            width: 20px
            height: 20px

        .item-m.item-m-language
          position: relative

          > .select-language
            position: absolute
            visibility: hidden
  footer
    .footer-img
      img
        object-fit: contain

@media screen and (max-width: 1440px)
  :root
    --fz14: 14px
    --fz16: 16px
    --fz18: 18px
    --fz20: 20px
    --fz24: 22px
    --fz28: 26px
    --fz36: 32px
    --fz48: 42px
    --fz64: 58px
    --fz96: 82px
    --fz144: 96px
    --ln120: 120%
    --container: 1800px
  header .mobile-menu .body nav ul::-webkit-scrollbar
    width: 0
    height: 0
  header .mobile-menu .body nav ul
    -ms-overflow-style: none
    overflow: -moz-scrollbars-none
    overflow-x: auto
    gap: 20px
    width: 100%

    li a
      white-space: nowrap
  main section .about-info-section .about-info-container
    grid-template-columns: repeat(2, 1fr)
  main section .form-recall-section .form-recall-container
    gap: 200px
  .new-calendar-section .calendar-container .main-calendar .body .calendar-swiper .item-c .body .sale
    font-size: 32px
  .new-calendar-section .calendar-container .big-calendar .calendar .sales .item-s .body
    font-size: 24px
  .new-calendar-section .calendar-container .big-calendar .calendar .sales .item-s .header
    font-size: 14px
  .new-calendar-section .calendar-container .main-calendar
    max-width: 610px
  .new-calendar-section .calendar-container .big-calendar .calendar .sales .item-s.new-clothe .body
    font-size: 16px
  main
    section
      .landing-section
        .landing-container
          gap: 90px

      .stock-section
        .stock-section-header
          flex-direction: column
          align-items: flex-start
          gap: 34px
          margin-bottom: 20px

          .section-title
            margin: 0

        .stock-body
          .stock-item
            .stock-img
              height: 470px

      .about-section
        .aboout-container.desktop
          display: none

        .aboout-container.mobile
          display: flex !important
          flex-direction: column

          p
            margin: 0
            margin-bottom: 20px
            opacity: .4

          .footer-container
            width: 90%
            margin: -70px auto 0
            display: flex
            flex-direction: column
            align-items: flex-start

            .img
              margin-bottom: 10px
              height: 500px

            p
              margin: 10px 0 20px

@media screen and (max-width: 1380px)
  .custom-modal .body .job-form
    grid-template-columns: 1fr

    .comment-info
      order: 3
  main section .job_opening-section .job_opening-container .divisions .job_opening-items
    grid-template-columns: 1fr
  main section .landlords-contacts-section .landloars-contacts-container .lc-contacts
    grid-template-columns: repeat(2, 1fr)
  main section .form-recall-section .form-recall-container
    gap: 100px
  .new-calendar-section.desktop
    display: none
  .new-calendar-section.mobile
    display: block !important
  footer
    ul
      padding: 0

    .main-footer
      grid-template-columns: 1fr
      gap: 47px

    .second-footer
      grid-template-columns: 1fr

      p
        text-align: start !important

@media screen and (max-width: 1280px)
  :root
    --fz14: 12px
    --fz16: 14px
    --fz18: 16px
    --fz20: 18px
    --fz24: 16px
    --fz28: 26px
    --fz36: 36px
    --fz48: 42px
    --fz64: 58px
    --fz96: 64px
    --fz144: 48px
    --ln120: 120%
    --container: 1800px
  main section .sales-section .sales-container .sales-img
    gap: 110px
  main section .form-recall-section.similar .form-recall-container
    gap: 140px
  main section .left-text-section .left-text-container
    grid-template-columns: 1fr
    gap: 20px
  main section .sales-section .sales-container .sales-text .content.landlords-requirements
    grid-template-columns: repeat(3, 1fr)

    .item-c:nth-of-type(3)
      grid-column: span 1

    .item-c:nth-of-type(4)
      grid-column: span 2
  main section .sales-section .sales-container
    grid-template-columns: 1fr
    gap: 30px
  main section .form-recall-section .form-recall-container .form-recall-form
    grid-template-columns: 1fr
    gap: 10px

    .btn
      margin-top: 10px
  main section .form-recall-section .form-recall-container
    grid-template-columns: 1fr
    gap: 44px
  main section .about-info-section .about-info-container
    grid-template-columns: 1fr
    gap: 140px
  header
    .main-header
      .container
        gap: 80px
  main
    section
      .our-collection-section
        grid-template-rows: 540px 200px

        .collection-item
          padding: 25px 60px

      .stock-section
        .stock-body
          grid-template-columns: 1fr

      .news-section
        .news-container
          grid-template-columns: 1fr

          .news-img
            height: 300px

            img
              object-position: center

@media screen and (max-width: 1000px)
  header .mobile-menu .body nav ul li:last-child
    display: inline-block
  main section .our-collection-page-section .our-collection-page-container .item-our-collection
    grid-template-columns: repeat(2, 1fr)
  main section .brands-section .brands-container .brands
    grid-template-columns: repeat(3, 1fr)
  main section .address-section .addresses-container
    grid-template-columns: 1fr
    gap: 10px
  main section .reviews-section .reviews-container,
  main section .blog-section .blog-container
    grid-template-columns: repeat(2, 1fr)
  main section .news-page-section #tabs .tabs-nav
    flex-direction: column
  main section .page-landing-section .page-landing-container iframe
    height: 500px
  main section .landing-section .landing-container
    gap: 80px
  header
    .container
      .more-desktop
        gap: 20px !important

    .container.desctop
      .item-m:last-child
        .icon
          width: 20px
          height: 20px
          display: flex
          align-items: center
          justify-content: center

        #headerTime
          display: none

    .btn
      display: none

@media screen and (max-width: 820px)

  main section .news-page-section #tabs .tabs-items .news-page-item-container,
  main section .brands-section .brands-container .brands
    grid-template-columns: repeat(2, 1fr)
  main section .landlords-contacts-section .landloars-contacts-container .lc-contacts
    grid-template-columns: repeat(1, 1fr)
  main section .our-collection-section
    grid-template-columns: 1fr
    grid-template-rows: 1fr

    .collection-item
      height: 307px
      background-position: center

      .collection-name
        font-size: var(--fz36)

@media screen and (max-width: 768px)
  main.mb-main.error-main
    margin-bottom: 100px
  main section .address-section .addresses-container .item-a .header .address
    font-size: 24px
    line-height: 120%
  main section .address-section .addresses-container .item-a .header .work-time .icon img
    height: 20px
    width: 20px
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-body .requirements .requirements-items .item-r
    font-size: 14px
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-body .divisions
    padding: 10px 30px 0
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-body
    gap: 20px
  main section .page-landing-section .page-landing-container.news,
  main section .news-item-section .news-item-container
    max-width: none
  main section .page-landing-section .page-landing-container.mb-40 h1
    font-size: 24px
  main section .our-collection-page-section .our-collection-page-container .item-our-collection .item-o:nth-child(6n+1) .title
    line-height: 100%
  .new-calendar-section.mobile > .main-calendar > .body .address-swiper
    margin: 10px 0 20px
  .new-calendar-section.mobile > .main-calendar > .body > .main-calendar .today-mobile-calendar .current-day .header,
  .new-calendar-section.mobile > .main-calendar > .body > .main-calendar .calendar-mobile-swiper .calendar-slide .header
    display: flex
    justify-content: space-between
    align-items: flex-start
  main section .tabs-items.faq .accordion-header
    margin: 20px 0 !important
  main section .reviews-section .reviews-container .item-r p.text-review
    font-size: 14px
  main section .reviews-section .reviews-container .item-r p.review-name
    font-size: 20px
  main section .page-landing-section .page-landing-container.mb-20 .btn
    margin-bottom: 40px
  main section .news-page-section #tabs .tabs-items .news-page-item-container
    gap: 20px

  main section .form-recall-section
    padding: 20px 0
  main section .form-recall-section .form-recall-container
    gap: 20px
  .btn.mobile-pt-15
    padding: 15px 0 !important
  main section .about-info-section .about-info-container .about-info-text .section-title.desktop
    display: none
  main section .about-info-section .about-info-container .about-info-text .section-title.mobile
    display: block !important
  header .mobile-menu .mobile.location .title
    margin-bottom: 0

    span
      text-transform: none
  header .mobile-menu .body nav ul li a
    font-size: 16px
  header .mobile-menu
    padding: 30px 0
  header .mobile-menu .mobile.contacts .phone.btn
    font-size: 16px
    padding: 10px 0 !important
  footer .second-footer
    gap: 40px
  footer .main-footer .footer-content nav:last-child ul li a
    text-transform: none
  main section .about-section .aboout-container.mobile p
    color: $black
    opacity: .4
  body, a, p, span, h1, h2, h3, ul, li
    font-weight: 500 !important
  main section .our-collection-section .collection-item:nth-of-type(1)
    background-image: url("../images/our_collection/our_collection_woomen_mobile.jpg")
  main section .our-collection-section .collection-item:nth-of-type(2)
    background-image: url("../images/our_collection/our_collection_man_mobile.jpg")
  main section .our-collection-section .collection-item:nth-of-type(3)
    background-image: url("../images/our_collection/our_collection_kids_mobile.jpg")
  main section .brand-section
    padding: 40px 0
  main section .sales-section .sales-container .sales-img
    padding: 0
  main section .sales-section .sales-container .sales-img .present
    font-size: 24px
    padding: 10px 20px
  main section .sales-section .sales-container .sales-img .item-s .name
    font-size: 24px
  main section .sales-section .sales-container .sales-img .item-s .prices
    .new-price, .old-price
      font-size: 16px
  #successModal.custom-modal
    .header
      margin: 0

    .body
      .title
        font-size: 36px
        margin-bottom: 20px
        margin-top: -27px

      .description
        margin-bottom: 50px
        font-size: 16px

  .select-city-popup .select-city-content .select-city-content-item
    font-size: 16px
  .select-city-popup .select-city-content .first-later-city
    font-size: 24px
  .select-city-popup .header .title
    font-size: 36px
  .select-city-popup
    margin-top: 125px
    max-width: none !important
    height: calc(100vh - 125px)

    .close-popup
      display: none

    .select-city-content
      display: grid
      grid-template-columns: repeat(2, 1fr)
  .custom-modal .body .content-review .review-form
    grid-template-columns: 1fr

    textarea
      grid-column: auto
  .custom-modal .body .job-form .more-info .item-m .inputs-section
    gap: 10px
  .custom-modal .body .job-form
    .more-info
      gap: 40px
      grid-template-columns: 1fr

    .main-info,
    .comment-info
      gap: 10px
      grid-template-columns: 1fr

    .comment-info
      grid-template-rows: auto

      textarea
        height: 150px

      .custom-input:nth-of-type(3),
      .footer-form
        grid-column: auto

    .more-info
      .custom-checkbox
        span
          font-size: 16px

  .custom-modal .body .footer-form .agree-checkbox
    gap: 6px 10px
  .modal-body
    padding: 20px !important
  .custom-modal .body .select-coupon-type .tabs-nav li.black.active a
    font-size: 16px
  .custom-modal .body .select-coupon-type .tabs-nav
    margin-bottom: 20px
  .custom-modal
    .body
      gap: 10px

      .description
        font-size: 16px

    .header .title
      font-size: 36px
  .custom-modal .body .select-city-container
    grid-column: auto
  .custom-modal .body .select-coupon-type .tabs-item .coupon-form,
  .custom-modal .body .footer-form
    grid-template-columns: 1fr
  header .mobile-menu
    height: calc(100vh - 125px)
    overflow: auto

    .container
      height: fit-content

    .mobile.contacts
      margin: 22px 0
      display: grid !important
      grid-template-columns: repeat(2, 1fr)
      gap: 15px

      .btn
        display: flex

      .phone.btn
        color: $black
        border: 2px solid $black

    .mobile.footer
      display: flex !important
      justify-content: space-between

      span
        max-width: 193px
        opacity: .2
        text-align: end

      .socials
        gap: 20px
        display: flex
        align-items: center
        justify-content: center

        img
          width: 40px
          height: 40px

    .mobile.location
      display: flex !important
      flex-direction: column
      gap: 23px
      background-repeat: no-repeat
      padding: 10px

      .title
        display: flex
        color: $white
        font-size: 24px

        .icon
          display: flex
          align-items: center
          justify-content: center

          img
            width: 24px
            height: 24px

      .body
        display: flex
        justify-content: space-between
        align-items: flex-end

        .week
          font-size: 16px
          color: $white
          opacity: .6

        .time
          color: $white
          font-size: 48px
  header .mobile-menu .title
    display: block
  header .mobile-menu .body nav ul li
    padding-bottom: 20px
    border-bottom: 1px solid $grey
  header .mobile-menu .body nav ul li:last-child
    display: none
  header .mobile-menu .body nav
    margin-bottom: 20px

    ul
      display: grid
      grid-template-columns: repeat(2, 1fr)
      gap: 20px
  main section .our-collection-page-section .our-collection-page-container
    gap: 40px
  main section .our-collection-page-section .our-collection-page-container .item-our-collection
    grid-template-rows: 389px 179px

    .item-o:nth-of-type(4), .item-o:nth-of-type(5), .item-o:nth-of-type(6)
      display: none
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-button .close-modal:after
    content: url('../images/icons/arrow-black.svg')
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-button .close-modal
    display: flex
    justify-content: center
    gap: 10px
    align-items: center
    border: 1px solid $grey
    color: $black
    border-radius: 100px
    text-align: center
    padding: 10px 0
    opacity: 1
    grid-column: span 2
    margin-top: -10px
    font-weight: 400
    position: relative
    font-size: 16px
    order: 2
    margin-top: 10px
  main section .job_opening-section .job_opening-container
    gap: 40px
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-button
    padding: 0
    gap: 0
  main section .page-landing-section .page-landing-container h1
    margin-top: 10px
  main section .job_opening-section .job_opening-container .divisions
    gap: 20px
  main section .job_opening-section .job_opening-container .divisions .title
    font-size: 24px
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-button .btn
    width: 100%
    margin-top: 20px
    grid-column: span 2
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-button .job-name
    text-align: start
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-button .job-wages
    font-size: 18px
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-button .job-name
    font-size: 24px
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-body .proposal .proposal-items
    grid-template-columns: 1fr
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-body .divisions .duties
    grid-template-columns: repeat(2, 1fr)
    gap: 20px
  main section .brands-section .brands-container .search-brand input
    grid-column: span 4
  main section .brands-section .brands-container .brands .item-b
    height: 434px
  main section .brands-section .brands-container
    gap: 20px
  main section .brands-section .brands-container .brands
    grid-template-columns: 1fr
  .map-section
    iframe
      height: 422px

    .address-section
      margin-top: 20px
  main section .error-page-section .error-page-container .error-text p
    font-size: 16px
  main section .error-page-section .error-page-container
    gap: 20px
    align-items: stretch
  main section .error-page-section
    margin-top: 55px
  main section .blog-section .blog-container .news-item .news-date,
  main section .news-page-section #tabs .tabs-items .news-page-item-container .news-date
    font-size: 12px
  main section .blog-section .blog-container .news-item p,
  main section .news-page-section #tabs .tabs-items .news-page-item-container p
    font-size: 16px
  main section .blog-section .blog-container .news-item .news-img
    height: 188px
  .accordion-header
    margin: 20px !important
  .accordion-collapse
    margin-top: -10px
  main section .news-page-section #tabs
    gap: 26px
  main section .news-page-section #tabs .tabs-nav li
    padding: 10px 20px

    a
      font-size: 16px
  main section .tabs-items.faq .accordion-body p
    font-size: 14px
  main section .tabs-items.faq .accordion-button
    font-size: 24px
  main section .tabs-items.faq .accordion,
  main section .blog-section .blog-container
    grid-template-columns: 1fr
  main section .landing-section .landing-container
    gap: 30px
  main section .news-item-section .news-item-container .socials .ya-share2__container_mobile.ya-share2__container_size_l .ya-share2__icon
    background-size: 24px 24px !important
    height: 32px
    width: 32px
  main section .news-item-section .news-item-container article p
    font-size: 14px
  main section .news-item-section .news-item-container .news-item-img
    height: 190px
  main section .page-landing-section .page-landing-container.news-item h1
    font-size: 24px
    margin-bottom: 0
  main section .landlords-img .img img
    object-position: left
  .custom-input
    font-size: 16px
  main section .form-recall-section.similar .form-recall-container
    grid-template-columns: 1fr
    gap: 20px
  main section .left-text-section .left-text-container .img
    padding: 20px 14px
  main section .left-text-section .left-text-container .img p
    font-size: 24px
  main section .left-text-section .left-text-container .content .text
    font-size: 16px
  main section .left-text-section .left-text-container .content
    gap: 20px
  main section .left-text-section .left-text-container .content .title
    font-size: 24px
  footer .main-footer .mailing .description
    max-width: none
  footer
    padding-top: 27px
  footer .main-footer .mailing .mailing-title
    font-size: 36px
  main section .prefooter-section .prefooter-container.old_fabrick .prefooter-title
    font-size: 36px
    line-height: 100%
  main section .sales-section .sales-container .sales-text .sales-desctiption
    font-size: 24px

  main section .page-landing-section .page-landing-container h1.with-description
    font-size: 40px
    margin-bottom: 10px
  main section .page-landing-section .page-landing-container .description
    font-size: 16px
  main section .landlords-contacts-section .landloars-contacts-container .lc-contacts .item-c:last-child span:last-child
    font-size: 36px
  main section .landlords-contacts-section .landloars-contacts-container .lc-contacts .item-c:last-child span:first-child
    font-size: 24px
  main section .landlords-contacts-section .landloars-contacts-container .lc-contacts .item-c .contact
    .phone
      font-size: 18px

    .name
      font-size: 16px
  main section .landlords-contacts-section .landloars-contacts-container .lc-contacts .item-c > p
    font-size: 16px
  main section .landlords-contacts-section .landloars-contacts-container .lc-contacts .item-c
    padding: 20px
  main section .landlords-contacts-section
    padding-top: 20px

    .landloars-contacts-container .title
      font-size: 36px
  main section .landlords-contacts-section .landloars-contacts-container .lc-header
    grid-template-columns: 1fr
    margin-bottom: 20px

    .city-list
      display: none
  main section .sales-section .sales-container .sales-text .content.landlords-requirements
    grid-template-columns: 1fr
    grid-template-rows: auto !important

    .item-c, .item-c:nth-of-type(4)
      grid-column: auto
  main section .sales-section .sales-container .sales-text .sales-content
    font-size: 16px
  main section .sales-section .sales-container
    .sales-img
      .desktop
        display: none

      .mobile
        display: block !important

    .sales-text
      .sales-title.old_fabric
        font-size: 36px

      .sales-title
        font-size: 32px
        line-height: 120%
        letter-spacing: 0.02em
  main section .landlords-img
    margin-top: 35px

    .img
      height: 269px
  main section .prefooter-section .prefooter-container .prefooter-conent
    font-size: 16px
  main section .prefooter-section .prefooter-container .prefooter-title
    font-size: 48px
    margin-bottom: 30px
  main section .prefooter-section
    padding: 20px
  main section .form-recall-section .form-recall-container .form-recall-info .form-recall-title
    font-size: 36px
  section .section-title
    font-size: 36px
  main section .about-info-section .about-info-container .about-info-text
    gap: 20px
  .mt-section
    margin-top: 20px
  main section .about-info-section .about-info-container
    padding-bottom: 0
  main section .sales-section .sales-container .sales-text
    gap: 20px
    align-items: stretch
  main section .form-recall-section .form-recall-container .form-recall-form .description
    font-size: 12px
    order: 2
  main section .page-landing-section .page-landing-container h1
    margin-bottom: 45px
    font-size: 48px
    margin-top: 55px
  main section .form-recall-section .form-recall-container .form-recall-info .form-recall-description
    font-size: 16px
  main section .page-landing-section .page-landing-container iframe
    height: 298px
    margin-bottom: 20px
  main section .landing-section .landing-container .landing-text.desktop
    display: none
  main section .landing-section .landing-container .landing-text.mobile
    display: block !important
  main section .landing-section .landing-container .landing-text
    font-size: 48px
  main
    section
      .landing-section
        height: 836px
  header .main-header .container.desctop
    display: none
  .mobile-select-language.open
    display: block !important
    border-top: 1px solid $grey
  .mobile-select-language
    width: 100%
    background: $white

    p, ul, li
      list-style: none
      margin: 0
      padding: 0

    ul
      li
        display: flex
        justify-content: space-between
        align-items: center
        padding: 20px

        p
          font-size: 20px

        span
          opacity: .4
          font-size: 20px

      li:nth-of-type(2)
        border-top: 1px solid $grey
        border-bottom: 1px solid $grey

  header .main-header .container.mobile
    display: flex !important
    justify-content: space-between
    align-items: center

    .burget-menu
      display: flex !important
      gap: 4px

      div
        width: 16px
  main section .map-section .info-block
    height: fit-content
    top: auto
    bottom: 0
    padding: 20px

    .section-title
      display: none
  main section .landing-section .landing-container .calendar-section
    display: none
  main section .landing-section .landing-container .calendar-section .calendar
    // display: none
    padding: 20px
  main section .stock-section .stock-section-header .tabs-nav
    gap: 30px
  header .main-header .container.mobile
    gap: 0
  .header-icon
    display: flex
    justify-content: center
  .heder-city-icon, .select-city-trigger
    justify-content: flex-end
  .item-m-language
    justify-content: flex-start
  .logo
    width: 132px
  header .main-header .container.mobile .header-icon img
    width: 24px
    height: 24px
  header .main-header .container.mobile .burget-menu
    align-items: flex-start
  footer .main-footer .footer-content
    gap: 40px

    nav:first-child ul
      display: grid
      grid-template-columns: repeat(2, 1fr)
      gap: 20px 0

      li:last-child
        display: none

    nav:last-child
      grid-template-columns: repeat(2, 1fr)
      gap: 20px 0

      ul
        li
          a
            font-size: var(--fz16)

      .footer-img
        grid-column: span 2

@media screen and (max-width: 668px)
  main section .reviews-section .reviews-container
    grid-template-columns: 1fr
  main
    padding-top: 125px
  main section .about-info-section .about-info-container .about-info-img .item-a:nth-of-type(2)
    height: 132px
    width: 198px
  main section .about-info-section .about-info-container .about-info-img .item-a:nth-of-type(3)
    width: 170px
    height: 114px
  main section .about-info-section .about-info-container
    gap: 60px
  :root
    --fz48: 36px
  main section .landing-section
    padding-top: 125px
  .mt-section
    margin-top: 40px
  header .top-baner.open
    height: 45px
  header .top-baner .container span
    font-size: 12px
  header .top-baner .container i
    display: none
  header .main-header
    padding: 20px 0
  footer .second-footer .item-s:nth-of-type(3)
    flex-direction: column
  main section .our-collection-section .collection-item
    padding: 25px 20px

@media screen and (max-width: 500px)
  .modal-dialog
    margin: 0 !important
  main section .our-collection-page-section .our-collection-page-container .item-our-collection .item-o:nth-child(6n+1) .type-collection .item-t
    background: rgba(255, 255, 255, 0.2)
    color: $black
  main section .our-collection-page-section .our-collection-page-container .item-our-collection .item-o:nth-child(6n+1) .descriptio
    font-size: 14px
    max-width: 60%
  main section .our-collection-page-section .our-collection-page-container .item-our-collection .item-o:nth-child(6n+1)
    padding: 20px
  main section .our-collection-page-section .our-collection-page-container .item-our-collection .item-o:nth-child(6n+1) .type-collection
    order: 3
  main section .our-collection-page-section .our-collection-page-container .item-our-collection .item-o:nth-child(6n+1) .descriptio
    order: 1
  .btn.btn-orange
    order: 2
  main section .our-collection-page-section .our-collection-page-container .item-our-collection .item-o:nth-child(6n+1) .title
    font-size: 36px
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-button
    grid-template-columns: 2fr 1fr
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-button .job-wages
    font-size: 16px
  main section .job_opening-section .job_opening-container .divisions .job_opening-items .accordion-body .divisions .duties
    grid-template-columns: 1fr
  main section .address-section .addresses-container .item-a .header
    flex-direction: column
    gap: 20px

  main section .news-page-section #tabs .tabs-items .news-page-item-container
    grid-template-columns: 1fr

    .news-img
      height: 190px
  main section .map-section .info-block
    width: 90vw
  main section .stock-section .stock-section-header .tabs-nav::-webkit-scrollbar
    width: 0
    height: 0
  main section .stock-section .stock-section-header .tabs-nav
    width: 100%
    overflow: -moz-scrollbars-none
    -ms-overflow-style: none
    overflow-x: auto
    white-space: nowrap

@media screen and (max-width: 375px)
  main section .landlords-contacts-section .landloars-contacts-container .lc-contacts .item-c
    align-items: stretch
  .new-calendar-section.mobile > .main-calendar .body > .main-calendar .calendar-mobile-swiper .calendar-slide
    padding: 8px
