.custom-modal
    .header
        display: flex
        justify-content: space-between
        margin-bottom: 20px
        .title
            text-transform: uppercase
            font-size: var(--fz48)
        .description
            margin-top: 10px
            opacity: .4
            font-size: 24px
    .body
        display: flex
        flex-direction: column
        gap: 30px
        .description
            opacity: .4
        .select-city-container
            grid-column: 2 span
        .select2-container
            border: 1px solid rgba(0, 0, 0, .1)
            padding: 18px
            background: rgba(0, 0, 0, 0.05)
        .select2-container--default .select2-selection--single
            border: none
            outline: none
        .select2-container--default .select2-selection--single .select2-selection__arrow
            width: 50px
            top: 15px
        .select2-container--default .select2-selection--single .select2-selection__rendered
            background: rgba(0, 0, 0, 0.05)
            border: none
            outline: none
        .select2-container--default .select2-selection--single .select2-selection__placeholder
            color: rgba(0, 0, 0, .2)
        .select-coupon-type
            .tabs-nav
                padding: 0
                margin: 0
                display: flex
                justify-content: space-between
                gap: 20px
                width: 100%
                list-style: none
                margin-bottom: 30px
                li.black.active
                    background: $black
                    a
                        color: $white
                li
                    width: 100%
                    border-radius: 100px
                    padding: 10px 0
                    background: rgba(0, 0, 0, .2)
                    a
                        display: block
                        width: 100%
                        text-align: center
                        color: rgba(0, 0, 0, .4)

                    a.active
                        background: $black
                        color: $white

            .tabs-item
                .coupon-form
                    display: grid
                    grid-template-columns: repeat(2, 1fr)
                    gap: 10px
        
        .footer-form
            display: grid
            grid-template-columns: 400px 1fr
            align-items: center
            gap: 20px
            margin-top: 30px
            .agree-checkbox
                display: grid
                grid-template-columns: 20px 1fr
                gap: 10px
                align-items: start
                input
                    width: 20px
                    height: 20px
                    border-radius: 0
                    background: rgba(0, 0, 0, 0.05)
                    border: 1px solid rgba(0, 0, 0, 0.1)
                .agreement
                    grid-column: 2/2
            .offer
                font-size: var(--fz14)
                color: rgba(0, 0, 0, 0.4)
                a
                    color: $orange
            .agreement
                color: rgba(0, 0, 0, 0.1)
                font-size: var(--fz14)
                a
                    color: $orange
        
        .job-form
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 40px 20px
            .main-info
                width: 100%
                display: grid
                grid-template-columns: repeat(2, 1fr)
               
                gap: 20px
                .select-city-container
                    grid-column: auto
            .comment-info
                display: grid
                grid-template-columns: repeat(2, 1fr)
                grid-template-rows: 1fr 1fr 50px
                gap: 20px
                grid-row: span 2 
                .custom-input
                    resize: none
                .custom-input:nth-of-type(3)
                    grid-column: span 2
                .footer-form
                    grid-row: auto
                    margin: 0
                    grid-column: span 2
                
            .more-info
                display: grid
                grid-template-columns: repeat(2, 1fr)
                
                gap: 30px
                .item-m
                    display: flex
                    flex-direction: column
                    .title
                        margin-bottom: 5px
                    .description
                        margin-bottom: 20px
                        font-size: var(--fz16)
                        opacity: .4
                    .inputs-section
                        display: grid
                        grid-template-columns: 1fr 3fr
                        gap: 10px 0
                        .custom-input
                            grid-row: span 2
            

        .content-review
            .description
                opacity: .4
                margin-bottom: 20px
                display: block
            .review-form
                    display: grid
                    grid-template-columns: repeat(2, 1fr)
                    gap: 10px

                    textarea
                        grid-column: span 2
                        resize: none

#successModal.custom-modal 
    padding: 40px
    .header
        justify-content: flex-end
    .body
        gap: 0
        .title
            text-transform: uppercase
            font-size: var(--fz64)
            text-align: center
            margin: 0 0 20px
            span
                color: $forestGreen
        .description
            text-align: center
            opacity: .4
            margin-bottom: 30px