\:root
  --fz14: 14px
  --fz16: 16px
  --fz18: 18px
  --fz20: 20px
  --fz24: 24px
  --fz28: 28px
  --fz36: 36px
  --fz48: 48px
  --fz64: 64px
  --fz96: 96px
  --fz144: 144px
  --ln120: 120%
$forestGreen: #0D674C
$orange: #F07106
$white: #FFFFFF
$grey: #D9D9D9
$gray: #575757
$black: #000000
::selection
  background-color: $orange
  color: #ffffff

*, *::before, *::after
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  font-family: 'Coolvetica', sans-serif
  font-size: var(--fz20)
  font-weight: 400
  letter-spacing: 0.02em

h1
  font-size: var(--fz96)
  margin: 30px 0

h2
  font-size: var(--fz64)
  margin: 30px 0

h3
  font-size: var(--fz48)
  margin: 30px 0

h4
  font-size: var(--fz28)
  margin: 30px 0

h5
  font-size: var(--fz24)
  margin: 30px 0

h6
  font-size: var(--fz20)
  margin: 30px 0

a
  text-decoration: none

.seo-section
  .content
    p
      color: rgba(0, 0, 0, .4)
      font-size: var(--fz18)

img
  width: 100%
  height: 100%
  object-fit: cover

.btn
  padding: 10px 20px
  text-transform: uppercase
  display: flex
  align-items: center
  justify-content: center
  gap: 5px
  border-radius: 100px
  font-size: var(--fz24)

.btn.btn-grey
  background: $grey
  color: $black !important

.btn.btn-orange
  background: $orange
  color: $white !important

.btn.btn-outline
  border: 2px solid $grey

.btn.no-uppercase
  text-transform: none

.btn.w-arrow
  align-items: flex-end
  .icon
    padding-bottom: 3px
    img
      width: 16px
      height: 16px
.btn.p-15
  padding: 15px 0
.swiper-footer-block
  margin-top: 20px
  display: flex
  justify-content: space-between

.arrow-prev
  transform: rotate(-180deg)

.mt-section
  margin-top: 100px

.mt-section.mt-80
  margin-top: 80px

section .section-title
  margin-bottom: 25px
  text-transform: uppercase
  font-size: var(--fz48)

.custom-checkbox
  display: flex
  align-items: center
  position: relative
  gap: 10px

  label
    width: 20px
    height: 20px
    background: rgba(0, 0, 0, 0.05)
    border: 1px solid rgba(0, 0, 0, 0.1)

  .input
    display: none

  .input:checked ~ label:after
    content: url(../images/icons/agree.png)
    width: 20px
    height: 20px
    position: absolute
    top: -10px
    left: 0

.custom-input.black
  background-color: $black

.custom-input.gray::placeholder
  color: rgba(0, 0, 0, .2)

.custom-input.gray
  background: rgba(0, 0, 0, 0.05)
  border: 1px solid rgba(0, 0, 0, 0.1)
  color: $black

.custom-input.green
  background: rgba(255, 255, 255, 0.1)
  border: 1px solid rgba(255, 255, 255, 0.2)
  color: $white

.custom-input.green::placeholder
  opacity: .4
  color: $white

.custom-input
  font-size: var(--fz20)
  color: $white
  padding: 18px
  outline: none
  border: 1px solid rgba(255, 255, 255, 0.2)

.mobile
  display: none !important

.burget-menu
  display: flex
  flex-direction: column
  gap: 5px

  div
    width: 30px
    height: 2px
    background: $white

h1.title-page
  font-size: var(--fz144)

header
  position: fixed
  z-index: 5
  top: 0
  left: 0
  width: 100%
  .mobile-select-language
    display: none
  // mix-blend-mode: difference
  .top-baner
    padding: 0
    height: 0
    overflow: hidden
    transition: all .2s ease-in-out
    background: $forestGreen
    color: $white

    .container
      display: flex
      align-items: center
      justify-content: space-between

      span
        flex: 1
        text-align: center

        a
          color: $white
          opacity: .4

  .top-baner.open
    padding: 15px
    height: 54px

  .main-header
    padding: 40px 0

    .burget-menu
      display: none

    .container
      white-space: nowrap
      display: grid
      grid-template-columns: 1fr 162px 1fr
      column-gap: 160px
      align-items: center

      nav
        ul
          list-style: none
          display: grid
          justify-items: center
          grid-template-columns: repeat(5, 1fr)
          gap: 40px
          margin: 0
          padding: 0

          .active-sub-menu:before
            content: ''
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 0
            width: 10px
            height: 10px
            background: $orange
            border-radius: 50%

          li:first-child
            padding-left: 30px

          li
            position: relative
            user-select: none
            cursor: pointer

            > a, > span
              color: $white
              text-transform: uppercase
              text-decoration: none
              font-size: var(--fz20)

            .sub-menu
              visibility: hidden
              padding-top: 10px
              position: absolute
              left: 0

              > ul
                justify-items: flex-start
                border: 1px solid $grey
                padding: 30px
                background-color: $white
                display: grid
                gap: 30px 100px
                grid-template-columns: repeat(2, 1fr)
                grid-template-rows: repeat(4, 1fr)

                > li:nth-of-type(3)
                  a
                    opacity: .4

                li
                  margin: 0
                  padding: 0
                  user-select: none
                  cursor: pointer

                  a
                    text-transform: uppercase
                    color: $black

                > ul
                  grid-row: span 2
                  padding: 0
                  display: flex
                  flex-direction: column
                  gap: 10px

                  li
                    user-select: none
                    cursor: pointer

                    a
                      font-size: var(--fz16)

          li:hover
            > .sub-menu
              visibility: visible

      .more-desktop
        display: none !important
        align-items: center
        justify-content: flex-start !important
        height: 100%

        .item-m
          height: 100%

      .more-info-header, .more-desktop
        display: flex
        gap: 40px
        justify-content: flex-end

        a, p
          font-size: var(--fz20)
          margin: 0
          padding: 0
          color: $white

        .item-m
          display: flex
          align-items: center
          justify-content: center
          gap: 5px

          .icon
            display: flex
            justify-content: center
            align-items: center
            width: 20px
            height: 20px

        .item-m.item-m-language
          text-transform: uppercase
          position: relative

          .icon
            width: 20px
            height: 20px
            display: flex
            align-items: center
            justify-content: center

          .select-language
            ul
              margin: 0
              padding: 0

              background: $white
              position: absolute
              visibility: hidden
              top: 100%
              left: 0
              list-style: none

              li
                user-select: none
                padding: 20px
                margin: 0
                display: flex
                justify-content: space-between
                gap: 100px

                p
                  margin: 0
                  color: $black

              li:hover
                background: rgba(0, 0, 0, .05)

              li:nth-of-type(2)
                border-top: 1px solid $grey
                border-bottom: 1px solid $grey

        .item-m.item-m-language:hover
          .select-language
            ul
              border: 1px solid $grey
              visibility: visible

        .contact-container
          display: flex
          align-items: center
          gap: 10px

          .btn
            padding: 10px 20px

          .phone
            padding: 10px 20px
            border: 2px solid $white
            border-radius: 100px

  .main-header.sticky
    transition: all .3s ease-in-out

  .main-header.sticky,
  .main-header.static
    // transition: all .3s easy-in-out
    background: $white

    .burget-menu
      div
        background: $black

    a, p, span
      color: $black !important

    .icon, .logo
      filter: invert(100%)

    .phone
      border-color: $black !important

  .mobile-menu.open
    display: flex

  .mobile-menu
    border-top: 1px solid $grey
    padding: 30px
    background: $white
    display: none

    .title
      display: none
      text-transform: uppercase
      color: $forestGreen
      font-size: 36px
      margin-bottom: 30px

    .body
      nav ul
        padding: 0
        margin: 0
        list-style: none
        display: flex
        justify-content: space-between

        li
          a
            color: $black
            text-transform: uppercase

        li:last-child
          display: none

main.mb-main
  margin-bottom: 110px

main.no-pt
  padding-top: 0

main
  padding-top: 183px

  section
    .landing-section, .calendar-stock-section
      padding-top: 178px

      .container
        position: relative
        height: 100%
      // margin-bottom: 170px
      // overflow: hidden

      .landing-container
        display: flex
        flex-direction: column
        align-items: center
        gap: 20vh
        width: fit-content
        // overflow: hidden
        margin: 0 auto

    .landing-section
      background-image: url(../images/backgrounds/landing-bg.jpg)
      height: 1100px
      background-repeat: no-repeat
      background-size: cover
      background-position: center bottom
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

      .container
        position: relative
        height: 100%
      // margin-bottom: 170px

      .landing-container
        display: flex
        flex-direction: column
        align-items: center
        gap: 100px
        width: fit-content
        margin: 0 auto

        .landing-text
          text-align: center
          color: $white
          font-size: var(--fz144)
          line-height: 90%
          margin-top: calc(90px - 40px)

        .calendar-section
          // position: absolute
          // bottom: 0
          // left: 50%
          // transform: translateX(-50%)

          .calendar
            padding: 35px
            background: $white
            width: 720px
            display: flex
            flex-direction: column
            gap: 20px

            .calendar-header
              display: flex
              justify-content: space-between
              align-items: center
              text-transform: uppercase

            .calendar-footer
              display: grid
              grid-template-columns: 2fr 1fr
              gap: 20px

            .calendar-body
              .home-calendar-swiper
                .home-calendar-slide
                  display: flex
                  flex-direction: column
                  padding: 10px
                  border: 1px solid $grey

                  .home-calendar-date
                    display: flex
                    justify-content: space-between
                    font-size: var(--fz20)
                    color: rgba(0, 0, 0, .4)

                  .home-calendar-sale
                    font-size: var(--fz48)
                    color: $forestGreen

                .swiper-slide-active
                  width: 30% !important
                  background: rgba(0, 0, 0, .05)
                  border: none

                .swiper-slide:not(.swiper-slide-active)
                  width: 20% !important

    .calendar-stock-section
      background-image: url(../images/backgrounds/landing-bg.jpg)
      height: 100vh
      background-repeat: no-repeat
      background-size: cover
      background-position: center bottom
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

      .container
        position: relative
        height: 100%
        margin-top: 218px
        margin-bottom: 170px
        overflow: hidden

      .landing-container
        display: flex
        flex-direction: column
        align-items: center
        gap: 20vh
        width: fit-content
        margin: 0 auto
        overflow: hidden

        .landing-text
          text-align: center
          color: $white
          font-size: var(--fz144)
          line-height: 90%

        .calendar-section
          // position: absolute
          // bottom: 0
          // left: 50%
          // transform: translateX(-50%)

          .calendar
            padding: 35px
            background: $white
            width: 720px
            display: flex
            flex-direction: column
            gap: 20px

            .calendar-header
              display: flex
              justify-content: space-between
              align-items: center
              text-transform: uppercase

            .calendar-footer
              display: grid
              grid-template-columns: 2fr 1fr
              gap: 20px

            .calendar-body
              .home-calendar-swiper
                .home-calendar-slide
                  display: flex
                  flex-direction: column
                  padding: 10px
                  border: 1px solid $grey

                  .home-calendar-date
                    display: flex
                    justify-content: space-between
                    font-size: var(--fz20)
                    color: rgba(0, 0, 0, .4)

                  .home-calendar-sale
                    font-size: var(--fz48)
                    color: $forestGreen

                .swiper-slide-active
                  width: 30% !important
                  background: rgba(0, 0, 0, .05)
                  border: none

                .swiper-slide:not(.swiper-slide-active)
                  width: 20% !important

    .calendar-stock-section
      background: none
      height: fit-content

      .container
        margin: 0

    .landing-section, .calendar-stock-section
      .landing-container
        .calendar-section
          position: relative
          // transition: all .2s ease-in-out
          .calendar-body-big
            overflow: hidden
            // transition: all .2s ease-in-out
            height: 0

          .calendar-big
            z-index: -1
            // transition: all .2s ease-in-out
            background: #E5E5E5
            position: absolute
            padding: 43px 30px 28px
            height: fit-content
            width: fit-content
            left: -100%
            top: 0
            display: flex
            flex-direction: column
            gap: 32px

            .header
              color: $gray
              font-size: var(--fz28)
              text-transform: uppercase

              p
                margin: 0

            .body
              display: flex
              flex-direction: column
              gap: 30px

              .week.border-no-padding
                width: 100%
                display: grid
                padding: 10px 0
                grid-template-columns: repeat(7, 1fr)
                gap: 20px

                .item-w
                  color: rgba(0, 0, 0, .4)
                  text-transform: uppercase

              .sales
                display: grid
                grid-template-columns: repeat(7, 1fr)
                gap: 20px

                .item-s
                  padding: 10px
                  background: $white
                  border: 1px solid $grey
                  display: flex
                  justify-content: space-between
                  gap: 5px

                  .date
                    color: rgba(0, 0, 0, .4)

                  .sale
                    padding-top: 20px
                    color: $forestGreen
                    font-size: var(--fz48)
                    text-transform: uppercase

                  .sale.new-clothe
                    color: $orange
                    font-size: var(--fz24)
                    line-height: 120%

                .item-s.today
                  background: $forestGreen

                  .date, .sale
                    color: $white

                .item-s.empty
                  background: rgba(0, 0, 0, .05)

                  .date, .sale
                    color: $gray

      .calendar-section.open
        background: $white
        transform: translateX(calc(((1800px - 720px) / 2) * -1))
        // transition: all .2s ease-in-out
        .calendar-big
          left: 100%

        .calendar-body-big
          height: 390px

        .calendar-header
          span
            font-size: var(--fz48)

        .calendar
          padding: 30px 30px 48px

        .detailed-calendar-swiper
          padding: 54px 0
          width: 100%
          margin-top: 10px

          .item-day
            display: flex
            flex-direction: column
            align-items: center
            color: $white

            .item-day-header
              font-size: 48px
              text-transform: uppercase

            .item-day-navigation
              margin-top: 20px
              display: flex
              align-items: center
              gap: 20px

            .item-day-sale
              line-height: 120%
              font-size: var(--fz144)

      .landing-container.index.open
        position: absolute

      .landing-container.open
        width: 100%

    .brand-section
      padding: 60px 0
      background-color: $white

      .brand-swiper
        overflow: hidden

        .brand-slide
          filter: invert(100%)

    .our-collection-section
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: 788px 370px

      .collection-item
        padding: 40px 60px
        display: flex
        flex-direction: column
        align-items: flex-start
        background-repeat: no-repeat
        background-size: cover
        background-position: center bottom

        .btn
          font-size: var(--fz24)

        .collection-name
          margin-bottom: 10px
          font-size: var(--fz96)

      .collection-item:nth-of-type(1)
        background-image: url(../images/our_collection/our_collection_woomen.jpg)

      .collection-item:nth-of-type(2)
        background-image: url(../images/our_collection/our_collection_man.jpg)

      .collection-item:nth-of-type(3)
        background-image: url(../images/our_collection/our_collection_kids.jpg)

      .collection-item:nth-of-type(4)
        background-image: url(../images/our_collection/our_collection_home.jpg)

    .stock-section
      .stock-section-header
        display: flex
        justify-content: space-between
        align-items: center

        .tabs-nav
          display: flex
          gap: 46px
          list-style: none
          margin: 0
          padding: 0

          li a
            text-transform: uppercase
            color: rgba(0, 0, 0, .4)

          li a.active
            color: $orange

      .stock-body
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 20px

        .stock-item
          display: flex
          flex-direction: column
          gap: 10px

          .tag
            border-radius: 100px
            padding: 10px 20px
            background: $white
            color: $black

          .tag.green
            background: $forestGreen
            color: $white

          .stock-img
            height: 70vh
            background-repeat: no-repeat
            background-size: cover
            padding: 30px
            display: flex
            gap: 10px
            align-items: flex-start

          .stock-body
            display: flex
            flex-direction: column
            gap: 5px

            .stock-name
              font-size: var(--fz24)

            .stock-price
              display: flex
              gap: 12px

              .new-stock
                color: $forestGreen
                font-size: var(--fz20)

              .old-stock
                font-size: var(--fz20)
                color: $gray
                text-decoration: line-through
                text-decoration-color: $black

    .video-section
      height: 95vh

    .about-section
      .aboout-container
        display: grid
        grid-template-columns: 1fr 560px 1fr
        column-gap: 100px

        p
          font-size: var(--fz16)
          color: rgba(0, 0, 0, 0.4)

        .about-item
          display: flex
          flex-direction: column
          width: 100%

          img
            width: 100%
            height: calc(100% - 140px)

        .about-item.double-img
          align-items: flex-end
          gap: 75px

          img:last-child
            padding-left: 120px

        .about-item.with-title
          position: relative
          justify-content: flex-end

          span
            width: 100%
            font-size: var(--fz144)
            text-transform: uppercase
            position: absolute
            text-align: center
            top: 24px

        .about-item.with-text
          align-items: flex-start

        .about-item-text
          grid-column: span 2
          padding-left: 120px
          max-width: 662px

    .news-section
      .news-container
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 20px

        .news-item
          display: flex
          flex-direction: column
          gap: 10px

        .news-name
          font-size: var(--fz20)
          text-transform: uppercase
          color: $black
          cursor: pointer

        .news-dt-create
          font-size: var(--fz16)
          color: rgba(0, 0, 0, .4)

    .map-section
      position: relative

      .info-block
        margin: 40px 0
        top: 0
        width: 435px
        height: calc(100% - 80px)
        position: absolute
        background: $white
        padding: 30px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start

        .info-block-head
          .info-block-item
            display: flex
            gap: 10px
            align-items: center

            p
              font-size: var(--fz20)

            .icon
              img
                object-fit: contain

          .info-block-item:last-child
            opacity: .4

            .icon
              width: 30px
              height: 20px

    .page-landing-section
      .page-landing-container
        display: flex
        flex-direction: column
        align-items: center

        iframe
          width: 100vw
          margin-bottom: 100px

        .blog-filter
          margin-top: 20px
          padding: 18px
          border: 1px solid rgba(0, 0, 0, 0.1)
          background: rgba(0, 0, 0, 0.05)
          width: 100%
          max-width: 496px

          select
            width: 100%
            background: transparent
            border: none
            outline: none
            -moz-appearance: none
            -webkit-appearance: none

        .title
          display: flex
          align-items: center
          justify-content: space-between
          width: 100%

          h1
            flex: 1

        .breadcrumbs
          ul
            list-style: none
            display: flex
            gap: 10px
            padding: 0
            margin: 20px 0 0 0

            li
              color: $black
              opacity: .4
              font-size: var(--fz18)
              display: flex
              align-items: center
              gap: 10px

              .icon
                img
                  width: 9px
                  height: 8px

              a
                color: $black

        h1
          text-align: center
          text-transform: uppercase
          line-height: 90%
          margin-bottom: 100px

        h1.with-description
          margin-bottom: 30px

        .description
          padding: 0
          color: $gray
          font-size: var(--fz28)

      .page-landing-container.news-item
        h1
          font-size: var(--fz48)
          margin-bottom: 38px

      .page-landing-container.fz48
        h1
          font-size: var(--fz48)

      .page-landing-container.news
        max-width: 70vw
        margin: 0 auto

      .page-landing-container.mb-80
        h1
          margin-bottom: 80px

      .page-landing-container.mb-40
        h1
          margin-bottom: 40px

      .page-landing-container.mb-0
        h1
          margin-bottom: 0

      .page-landing-container.mb-20
        h1
          margin-bottom: 20px

        .btn
          margin-bottom: 80px

    .about-info-section
      height: fit-content

      .about-info-container
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 80px
        padding-bottom: calc(231px * 0.4)

        .about-info-img
          position: relative
          height: 100%

          .item-a
            position: absolute

          .item-a:nth-of-type(1)
            position: relative
            width: 100%
            height: 100%
            top: 0
            z-index: 1

          .item-a:nth-of-type(2)
            width: 406px
            height: 270px
            z-index: 2
            bottom: -10%
            left: -28px

          .item-a:nth-of-type(3)
            width: 347px
            height: 231px
            z-index: 3
            left: 30%
            bottom: -20%

        .about-info-text
          display: flex
          flex-direction: column
          gap: 40px

          .section-title
            margin: 0

          .about-info-content
            display: flex
            flex-direction: column
            gap: 20px
            position: relative

            .item-a
              font-size: var(--fz20)
              color: $gray
              display: flex
              align-items: flex-start
              gap: 20px

              .bulet
                display: flex
                align-items: center
                justify-content: center
                position: relative

                img
                  width: 24px
                  height: 24px

          .about-info-content:before
            content: ''
            height: 90%
            width: 2px
            background: $forestGreen
            position: absolute
            top: 4px
            left: 11px

    .form-recall-section
      padding: 40px 0
      background: $black
      color: white

      .form-recall-container
        display: grid
        grid-template-columns: repeat(2, 1fr)
        column-gap: 80px !important

        .form-recall-info
          display: flex
          flex-direction: column
          gap: 10px

          .form-recall-title
            margin: 0
            font-size: var(--fz64)
            line-height: 100%
            text-transform: uppercase

          .form-recall-description
            color: $white
            opacity: .4
            font-size: var(--fz20)

        .form-recall-form
          height: fit-content
          display: grid
          grid-template-columns: repeat(2, 1fr)
          gap: 20px

          .description
            color: $white
            opacity: .4
            font-size: var(--fz20)

    .form-recall-section.similar
      .form-recall-container
        gap: 200px
        grid-template-columns: repeat(2, 1fr)

    .form-recall-section.green
      background: $forestGreen

    .sales-section
      .sales-container.wholesalers
        .sales-content
          max-width: 780px
      .sales-container.old_fabric
        .sales-content
          max-width: 530px
      .sales-container
        display: grid
        grid-template-columns: repeat(2, minmax(0, 1fr))
        gap: 80px

        .sales-img
          background-repeat: no-repeat
          background-size: cover
          display: flex
          flex-direction: column
          justify-content: space-between
          align-items: flex-start
          height: 100%

          img
            width: auto

          .present
            padding: 20px 40px
            font-size: 48px
            background: $forestGreen
            color: $white
            border-radius: 100px

          .item-s
            display: flex
            flex-direction: column

            .name
              grid-column: span 2
              color: $black
              font-size: 48px

            .prices
              display: flex
              gap: 12px
              align-items: center

              .old-price
                font-size: 24px
                color: $gray
                text-decoration: line-through
                text-decoration-color: $black

              .new-price
                color: $forestGreen
                font-size: 24px


        .sales-text
          display: flex
          flex-direction: column
          gap: 40px
          align-items: flex-start
          // justify-content: space-between

          p
            margin: 0

          .sales-title
            font-size: var(--fz48)
            text-transform: uppercase

          .sales-content
            color: $gray

          .sales-desctiption
            color: $forestGreen
            font-size: var(--fz28)

          .content.landlords-requirements
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: 185px 111px
            gap: 20px

            .item-c
              padding: 20px
              display: flex
              gap: 10px
              border: 1px solid $grey

              .bulet
                img
                  width: 24px
                  height: 24px

            .item-c:nth-of-type(4)
              grid-column: span 2
      .sales-container.about-page
        .sales-img
          padding: 30px
    .prefooter-section
      color: $white
      text-align: center
      padding: 100px
      background-repeat: no-repeat
      background-size: cover

      .prefooter-container
        display: flex
        flex-direction: column
        align-items: center

        p
          margin: 0

        .prefooter-title
          font-size: var(--fz96)
          margin-bottom: 20px
          line-height: 100%

        .prefooter-conent
          margin-bottom: 30px

    .landlords-img
      margin-top: 100px

      .img
        width: 100%

    .landlords-contacts-section
      padding: 60px 0
      margin-bottom: 2px
      background: $black
      border-bottom: 2px solid #1A1A1A

      .landloars-contacts-container
        color: $white

        .title
          text-transform: uppercase
          font-size: var(--fz96)
          margin-bottom: 20px

        .lc-header
          display: grid
          grid-template-columns: repeat(3, 1fr)
          gap: 20px
          align-items: center
          margin-bottom: 30px

          .search-input
            input
              width: 100%

          .city-list::-webkit-scrollbar
            width: 0
            height: 0

          .city-list
            grid-column: 2 span
            -ms-overflow-style: none
            overflow: -moz-scrollbars-none
            display: flex
            flex-wrap: nowrap
            white-space: nowrap
            overflow-x: auto
            gap: 10px

            .item-c
              padding: 15px 30px
              text-transform: uppercase
              background: rgba(255, 255, 255, 0.2)
              border-radius: 100px

        .lc-contacts
          display: grid
          grid-template-columns: repeat(3, 1fr)
          gap: 20px

          .item-c
            padding: 30px
            background: rgba(255, 255, 255, 0.05)
            border: 1px solid rgba(255, 255, 255, 0.05)
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: space-between

            .icon
              img
                width: 32px
                height: 32px

            > p
              margin-top: 0
              margin-bottom: 20px

            .contact
              padding: 24px 20px
              background: $white
              display: flex
              align-items: center
              gap: 20px
              color: $black

          .item-c:last-child
            background: $forestGreen
            border: none
            justify-content: space-between

            span:first-child
              font-size: var(--fz28)

            span:last-child
              font-size: var(--fz48)

    .left-text-section
      .left-text-container
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 80px

        .content
          display: flex
          flex-direction: column
          gap: 40px

          p
            margin: 0

          .title
            font-size: var(--fz48)
            text-transform: uppercase

          .text
            opacity: .4

        .img
          padding: 68px 115px
          color: $white
          font-size: var(--fz48)
          text-align: center
          text-transform: uppercase

          p
            margin: 0

    .brands-section
      .brands-container
        display: flex
        flex-direction: column
        gap: 40px

        .search-brand
          display: grid
          gap: 20px
          grid-template-columns: repeat(4, 1fr)

          input
            grid-column: 2/4

        .brands
          display: grid
          grid-template-columns: repeat(4, 1fr)
          gap: 20px

          .item-b
            background-repeat: no-repeat
            height: 561px
            display: flex
            align-items: center
            justify-content: center
            background-size: cover

    .address-section
      margin-top: 40px

      .addresses-container
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 20px

        .item-a
          padding: 30px
          border: 1px solid $grey
          display: flex
          flex-direction: column
          align-items: flex-start
          gap: 20px

          p
            margin: 0

          .header
            display: flex
            justify-content: space-between
            width: 100%

            .work-time
              opacity: .4
              display: flex
              gap: 10px
              align-items: flex-start

              .icon
                width: 24px
                height: 24px

                img
                  width: 24px
                  height: 24px

          .phone
            color: $black
            border: 1px solid $black
            border-radius: 100px
            padding: 10px 20px

    .our-collection-page-section
      .our-collection-page-container
        display: flex
        flex-direction: column
        gap: 100px

        .item-our-collection
          display: grid
          grid-template-columns: repeat(4, 1fr)
          grid-template-rows: 1fr 350px
          gap: 20px

          .item-o:nth-child(6n + 1)
            padding: 40px
            display: flex
            align-items: flex-start
            flex-direction: column
            gap: 20px

            .title
              text-transform: uppercase
              font-size: var(--fz64)
              line-height: 120%
              max-width: 433px

            .type-collection
              display: flex
              gap: 10px

              .item-t
                padding: 10px 15px
                border-radius: 100px
                background: rgba(0, 0, 0, 0.2)
                text-transform: uppercase
                cursor: pointer

              .item-t.active
                background: $black
                color: $white

            .descriptio
              margin: 0
              opacity: .4
              max-width: 433px

          .item-o:nth-child(6n + 1),
          .item-o:nth-child(6n + 4),
          .item-o:nth-child(6n + 5)
            grid-column: span 2

          .item-o
            background-repeat: no-repeat
            background-size: cover
            background-position: center

    .blog-section
      .blog-container
        display: grid
        gap: 20px
        grid-template-columns: repeat(3, 1fr)

        .news-item
          color: $black
          display: flex
          flex-direction: column
          gap: 10px

          p
            margin: 0
            text-transform: uppercase

          .news-img
            height: 330px

          .news-date
            opacity: .4

    .news-page-section
      #tabs
        display: flex
        flex-direction: column
        gap: 80px
        align-items: center

        .tabs-nav
          padding: 0
          margin: 0
          display: flex
          gap: 10px
          align-items: center

          li
            list-style: none
            white-space: nowrap
            border-radius: 100px
            padding: 15px 30px
            background: rgba(0, 0, 0, .2)

            a
              color: $black
              text-transform: uppercase
              font-size: 24px

          li.active
            background: $orange

            a
              color: $white

          .tabs-items
            .news-page-item-container
              display: grid
              gap: 20px
              grid-template-columns: repeat(3, 1fr)

              .news-item
                color: $black
                display: flex
                flex-direction: column
                gap: 10px

                p
                  margin: 0

                .news-img
                  height: 330px

                .news-date
                  opacity: .4

        .tabs-items
          .news-page-item-container
            display: grid
            grid-template-columns: repeat(3, 1fr)
            gap: 60px 20px

            p
              margin: 0

            a
              color: $black

            .news-item
              display: flex
              gap: 10px
              flex-direction: column

            .news-date
              opacity: .4

    .news-item-section
      .news-item-container
        display: flex
        flex-direction: column
        gap: 20px
        max-width: 70vw
        margin: 0 auto

        .news-item-img
          height: 503px

        article
          p
            margin: 0
            color: rgba(0, 0, 0, .4)

            b
              color: $black

        .socials
          margin-top: 20px

          .ya-share2__container_mobile.ya-share2__container_size_l .ya-share2__icon
            height: 40px
            width: 40px

          .ya-share2__container_shape_round.ya-share2__container_size_l .ya-share2__badge
            background-color: $orange

            .ya-share2__icon:not(.ya-share2__icon_messenger-contact):not(.ya-share2__icon_more):not(.ya-share2__icon_copy)
              background-size: 32px 32px

      .news-item-container.brand
        .news-item-img
          height: 420px
          position: relative

        .news-item-img:after
          content: ''
          width: 100%
          height: 100%
          top: 0
          left: 0
          position: absolute
          background-image: url("../images/nike.svg")
          background-repeat: no-repeat
          background-position: center

    .reviews-section
      .reviews-container
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 20px

        .item-r
          display: flex
          flex-direction: column
          gap: 20px
          padding: 30px
          border: 1px solid $grey

          .icon
            img
              object-fit: contain
              width: 43px
              height: 43px

          p
            margin: 0

          p.text-review
            opacity: .4

          p.review-name
            font-size: var(--fz28)

    .tabs-items.faq
      width: 100%

      .accordion-button::after
        background-image: url("../images/icons/plus.svg")
        background-size: 32px 32px
        background-position: center
        transform: scale(0.75) !important

      .accordion-button:not(.collapsed)::after
        background-image: url("../images/icons/minus.svg")
        background-size: 32px 32px
        background-position: center

      .accordion-button:focus
        box-shadow: none
        background: #fff !important

      .accordion-button
        background: $white
        outline: none
        text-transform: uppercase
        font-size: var(--fz36)
        padding: 0
        justify-content: space-between
        align-items: center
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

      .accordion-header
        margin: 30px 0

      .accordion-body
        padding: 0
        padding-bottom: 30px

        p
          margin: 0
          opacity: .4

      .accordion-button:not(.collapsed)
        color: $black
        background-color: transparent
        box-shadow: none
        width: 100%

      .accordion-button:not(.collapsed)::after
        content: '-'
        font-size: 42px
        color: $orange
        background-repeat: no-repeat
        background-size: contain

      .accordion-button::after
        content: '+'
        background-repeat: no-repeat
        background-size: contain
        font-size: 42px
        color: $orange

      .accordion
        width: 100%
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 0 20px

        .accordion-item
          border: none
          border-radius: 0
          border-bottom: 1px solid rgba(0, 0, 0, 0.1)

        .accordion-item:nth-of-type(1),
        .accordion-item:nth-of-type(2)
          border-top: 1px solid rgba(0, 0, 0, 0.1)

    .error-page-section
      margin-top: 80px

      .error-page-container
        display: flex
        flex-direction: column
        align-items: center
        gap: 40px

        .error-text
          max-width: 410px
          text-align: center
          opacity: .4

          p
            margin: 0

    .job_opening-section
      .job_opening-container
        display: flex
        flex-direction: column
        gap: 100px

        .divisions
          display: flex
          flex-direction: column
          gap: 40px
          align-items: center

          .title
            color: $forestGreen
            text-transform: uppercase
            font-size: var(--fz48)

          .job_opening-items
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 20px
            width: 100%

            .accordion-item
              border: 1px solid $grey

            .accordion-button.collapsed
              .close-modal
                display: none

            .accordion-button:not(.collapsed):after
              content: ''
              width: calc(100% - 60px)
              height: 1px
              bottom: 0
              left: 50%
              transform: translateX(-50%)
              position: absolute
              background: $grey

            .accordion-button
              position: relative
              background: none
              padding: 30px
              display: grid
              grid-template-columns: 3fr 1fr
              row-gap: 20px
              justify-items: start

              .close-modal
                white-space: nowrap
                text-transform: uppercase
                opacity: .4
                width: 100%
                text-align: end

              .job-name
                text-transform: uppercase
                font-size: var(--fz28)

              .job-wages
                font-size: var(--fz28)
                color: $forestGreen
                text-align: end
                width: 100%

            .accordion-body
              display: flex
              flex-direction: column
              padding: 0
              //gap: 30px 30px

              .title
                font-size: var(--fz20)
                color: $black

              .divisions
                padding: 30px
                display: flex
                align-items: stretch
                flex-direction: column
                gap: 20px

                .duties
                  display: grid
                  grid-template-columns: repeat(3, 1fr)
                  width: 100%
                  gap: 69px

                  .item-d
                    display: flex
                    gap: 20px
                    align-items: flex-start

                    p
                      margin: 0
                      font-size: var(--fz16)
                      color: $gray

                    .icon img
                      width: 20px
                      height: 20px

              .proposal:after
                content: ''
                width: 100%
                height: 100%
                background: rgba(0, 0, 0, .05)
                position: absolute
                left: 0
                top: 0

              .proposal
                padding: 30px 0 0
                position: relative

                .title
                  padding: 0 30px
                  margin-bottom: 30px

                p
                  margin: 0

                .proposal-items
                  display: grid
                  grid-template-columns: repeat(3, minmax(0, 1fr))

                  .item-p:nth-of-type(6n+3)
                    border-right: none

                  .item-p
                    display: flex
                    gap: 12px
                    padding: 35px 35px 30px
                    border-top: 1px solid rgba(0, 0, 0, .1)
                    border-right: 1px solid rgba(0, 0, 0, .1)

                    .number
                      font-size: var(--fz28)

                    p
                      margin: 0
                      font-size: var(--fz16)
                      opacity: .4

              .requirements
                padding: 30px

                .title
                  margin-bottom: 20px

                .requirements-items
                  display: flex
                  gap: 10px
                  flex-wrap: wrap
                  width: 100%

                  .item-r
                    padding: 10px 20px
                    border: 1px solid $grey
                    border-radius: 100px

.select-city-popup.open
  visibility: visible

.select-city-popup
  border-top: 1px solid $grey
  height: calc(100vh - (183px * 2))
  margin-top: 183px
  min-height: 765px
  visibility: hidden
  position: fixed
  z-index: 10
  background: $white
  top: 0
  left: 50%
  transform: translateX(-50%)
  padding: 30px

  .header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px

    .title
      font-size: var(--fz48)
      text-transform: uppercase

    i
      font-size: 32px

  .city-searh
    width: 100%
    margin-bottom: 40px

    input
      width: 100%
      max-width: 583px

  .select-city-content
    overflow: auto
    display: inline-flex
    flex-direction: column
    flex-wrap: wrap
    max-height: 765px
    list-style: none
    width: 100%
    padding: 0
    margin: 0

    .first-later-city
      text-transform: uppercase
      font-size: var(--fz28)
      margin-bottom: 20px

    .select-city-content-item
      margin-bottom: 20px
      opacity: .4

footer
  margin-top: -2px
  background: $black
  padding: 80px 0

  ul
    padding: 0

  .main-footer
    display: grid
    grid-template-columns: 1fr 2fr
    gap: 340px

    .mailing
      .mailing-title
        color: $white
        text-transform: uppercase
        font-size: var(--fz64)
        margin-bottom: 25px

      .mailing-form
        width: 100%
        position: relative
        padding: 10px 10px 10px 18px
        border: 1px solid rgba(255, 255, 255, 0.2)
        display: flex
        justify-content: space-between
        gap: 10px
        align-items: center

        input
          width: 100%
          height: 100%
          background-color: $black
          border: 0
          outline: none
          font-size: var(--fz20)
          color: $white

        .btn
          padding: 8px 16px

      .description
        display: inline-block
        font-size: var(--fz14)
        margin-top: 10px
        color: $white
        opacity: .4

    .footer-content
      padding-top: 10px
      display: flex
      flex-direction: column
      gap: 80px

      nav:first-child
        ul
          display: flex
          margin: 0
          justify-content: space-between

          li
            list-style: none

            a
              text-transform: uppercase
              color: $white
              font-size: var(--fz20)

      nav:last-child
        display: grid
        grid-template-columns: 1fr 1fr 2fr

        ul
          display: flex
          justify-content: space-between
          flex-direction: column
          gap: 10px
          margin: 0

          li
            list-style: none

            a
              text-transform: uppercase
              color: $white
              font-size: var(--fz18)
              opacity: .4

  .second-footer
    padding-top: 40px
    margin-top: 40px
    border-top: 2px solid #1A1A1A
    display: grid
    align-items: center
    grid-template-columns: 1fr 2fr 1fr
    white-space: nowrap

    .logo
      width: 162px

    img
      object-fit: contain

    .item-s:nth-of-type(1)
      display: flex
      gap: 40px

      .socials
        display: flex
        gap: 20px

    .item-s:nth-of-type(2)
      flex: 1

      p
        text-align: center
        color: $white

    .item-s:nth-of-type(3)
      display: flex
      gap: 20px

      a
        opacity: .4
        color: $white
